/* Default (non-active) dots */
.swiper-pagination-bullet {
    background-color: white;
    opacity: 0.6;
  }
  
/* Active dot */
.swiper-pagination-bullet-active {
    background-color: #43C5E7;
    opacity: 1;
}

.swiper-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden; /* Prevent content from overflowing */
}

.swiper-slide {
  width: auto; /* Allow the Swiper to control the width dynamically */
  flex-shrink: 0; /* Prevent slides from shrinking below their content size */
}
body {
  overflow-x: hidden;
}
